.main {

}

.container {
    margin: 90px 104px;
    padding: 0 12px;
}

.services {
    margin-bottom: 180px;
}

.services__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__icon {
}

.services__link {
    display: flex;
    flex-direction: column;
    color: #2f2f2f;
    align-items: center;
    justify-content: center;
}

.services__link img {
    align-items: center;
    display: flex;
    height: 170px;
    justify-content: center;
    max-width: 170px;
    width: 100%;
}

.services__link p {
    font-family: Diodrum Cyrillic;
    font-weight: 500;
    margin-top: 15px;
    font-size: 21px;
    margin-top: 15px;
}